body{
    text-align: center;
    
}

i{
    padding-right :7px;
}

h1,h2,h3,h4{
    font-family:'Montserrat-black', sans-serif;
}

.container-fluid{
    padding: 7% 15%;
}

.coloured-section{

    background-color: #ff4c68;
    color:white;
}

.white-section{
    background-color: white;

    


}


/*------------titles----------------*/

#title{

    font-family: 'Montserrat-black', sans-serif;
    text-align: left;
}

#title .container-fluid{
    padding: 3% 15% 7%;

}



.title-text{
    
    font-family: 'Montserrat-black', sans-serif;
    font-size:3.5rem;
    line-height: 1.5;
    font-weight: bold;
    
    margin-bottom: 25px ;
}


.navbar{
    padding:0 0 4.5rem;
}


.navbar-brand{
    font-size:3rem;
    font-family: 'Ubuntu-black', sans-serif;

}

.nav-item{
    padding: 0 40px;

}

.nav-link{
    font-size:1.2rem;
    font-family:  'Montserrat-light', sans-serif;;
}


.dog {
    transform: rotate(25deg);
    width:60%;
    position: absolute;

  }

.d-bton, .bot{
   
    border-radius: 3px;
    margin: 0 10px;
    
}

/*------------features----------------- */
#features{
    
    padding: 6rem 0;
    background-color: #fff;
    position: relative;
    z-index: 1;
    /* font-size: 4.5rem; */
    
}

.features-h3-text
{
    font-family: 'Montserrat-bold', sans-serif;
    font-weight: bold;
    font-size:1.5rem;
}

.para-fearures{
    
    font-size:1.5rem;
}

.colo{
    color:#ef8172;
    line-height: 1.7;   
}


.fa-solid:hover{
    color:#ff4c68
}


/*------------testmonials----------------- */

#testimonials{
   
    background-color: #ef8172;
    text-align:center;
    color:white;
}

.testimonial-text{
    font-family: 'Montserrat-bold';
    font-weight: bold;
    font-size:3.4rem;
    line-height:1.5;
}

.testimonial-image{
    width:10%;
    border-radius: 100%;
    margin: 20px;
}




/*------------press----------------- */
#press{

    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-img{
    width: 15%;
    margin: 20px 20px 50px;
}


/*-----pricing------*/
#pricing{
    padding:100px ;
    text-align: center
}

.pricing-col{
    padding:3% 2%;
}

.pricing-h2, .pricing-h2{
    font-weight: bold;
}



/* ------------CTA/ Call to Action---------- */

#cta{

    font-family: 'Montserrat-black';
    background-color:#ef8172;
    padding-bottom: 6%;
      

}

.cta-h3{
   
    line-height:1.5;
    font-weight:bold;
    font-size: 3.35rem;
    
}

/*--------------------Footer------- */

#footer{
    padding:5% 11%;
    line-height:1.5;
    

}

.fot{
    padding-bottom: 7px;
}

#footer p{
    color:#8f8f8f ;
}

.soc{
    margin: 30px 20px;
}

/* --------------------media queries------------------- */

@media (max-width:1028px){
    #title{
        text-align:center;
    }
    .dog{
        padding-top:30px ;
        position:static;
        transform: rotate(0);
    }
}

@media  (max-width:1028px){
    #title ul{
        text-align:left;
    }
}